$accent: #e4be7f;
$text: #333;
$smooth: all .3s ease;
$smoothier: all 0.7s cubic-bezier(0.545, 0, 0.05, 1);
$test: 1px dashed red;
$section_padding: 100px;
$section_responsive_padding: 40px;
$footer_bg: #373D44;
