@import "vars";
@import "mixins";

/* Offer Section */

.offer {
    .offer__carousel { width: 100%; }

    .offer__slide {
        padding: 100px 0 20px 0;

        .offer__slide-inner {
            h1 {
                line-height: 60px;
                font-size: 48px;
                color: #fff;
                letter-spacing: 0.01em;
                margin-bottom: 20px;
            }

            p {
                line-height: 33px;
                font-size: 18px;
                text-align: center;
                letter-spacing: 0.03em;
                color: #fdfdfd;
                opacity: .9;
                width: 774px;
                margin-bottom: 70px;
            }

            .offer__slide-button {
                margin-bottom: 90px;

                a {
                    color: #fafafa;
                    text-decoration: none;
                    border: 2px solid #fafafa;
                    padding: 10px 20px;

                    &:hover { background: rgba(0, 0, 0, .6); }
                }
            }

            .offer__slide-footer {
                a {
                    color: #fafafa;
                    text-decoration: none;
                    font-size: 30px;
                    outline: none;
                }
            }
        }
    }
}

@media only screen and (max-width : 880px) {
    .offer {
        .offer__slide {
            .offer__slide-inner {
                h1 { font-size: 40px; }

                p {
                    font-size: 15px;
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width : 640px) {
    .offer {
        .offer__slide {
            .offer__slide-inner {
                h1 { font-size: 30px; }
            }
        }
    }
}

@media only screen and (max-width : 480px) {
    .offer {
        .offer__slide {
            padding: 40px 0 10px 0;

            .offer__slide-inner {
                h1 { font-size: 23px; line-height: 40px; }

                p { margin-bottom: 20px; font-size: 14px; }

                .offer__slide-button { a { font-size: 13px; } }
            }
        }
    }
}
