@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/Roboto Slab/RobotoSlab-Bold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/Roboto Slab/RobotoSlab-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/Roboto Slab/RobotoSlab-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/Roboto Slab/RobotoSlab-Thin.ttf");
  font-weight: 200;
  font-style: normal;
}
