/* Navbar button with accent background */
/* Section block heading */
/* Section block heading with article */
/* Hint text */
/* Slider */
/* Full Width Slider */
/* Counter */
/* Catalog Items */
/* Catalog Menu */
/* Catalog Price */
/* Catalog MObile Menu */
/* Catalog Items Mobile */
/* Catalog */
/* News Items */
.pop-up {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.pop-up .pop-up__inner {
  background: #fff;
  padding: 40px 90px;
}

.pop-up .pop-up__inner .pop-up__heading h2 {
  line-height: 38px;
  font-size: 28px;
  margin-bottom: 25px;
  letter-spacing: 0.01em;
}

.pop-up .pop-up__inner .pop-up__formset input {
  display: block;
  margin-bottom: 30px;
  border: 1px solid silver;
  width: 100%;
  padding: 10px 20px;
  background: #fff;
}

.pop-up .pop-up__inner .pop-up__buttonset button {
  background: transparent;
  padding: 10px;
  color: #333;
  border: 1px solid #333;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  border: none;
  cursor: pointer;
  padding: 10px 40px;
  font-size: 14px;
  margin-bottom: 20px;
  background: #333;
  color: #fafafa;
}

.pop-up .pop-up__inner .pop-up__buttonset button:hover {
  background: #333;
  color: #fff;
}

.pop-up .pop-up__inner .pop-up__buttonset button:hover {
  background: #1a1a1a;
}

.pop-up .pop-up__inner .pop-up__footer {
  opacity: .7;
  font-size: 14px;
}

.pop-up .pop-up__inner .pop-up__close {
  top: 20px;
  right: 20px;
}

.pop-up .pop-up__inner .pop-up__close i {
  font-size: 20px;
  cursor: pointer;
  opacity: .6;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pop-up .pop-up__inner .pop-up__close i:hover {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .pop-up .pop-up__inner {
    width: 95%;
    height: 90%;
    padding: 50px 25px;
  }
  .pop-up .pop-up__inner .pop-up__close {
    top: 15px;
    right: 20px;
  }
}

@media only screen and (max-width: 420px) {
  .pop-up .pop-up__inner .pop-up__heading h2 {
    font-size: 22px;
  }
}
