@import "../vars";
@import "../mixins";

//libs
@import "../../libs/normalize/normalize.css";
@import "../../libs/slick/slick.css";
@import "../../libs/slick/slick-theme.css";

//specifications
@import "../../css/fonts.css";
@import "../../css/base.css";

//templates
@import "../../css/header.css";
@import "../../css/navbar.css";
@import "../../css/footer.css";
@import "../../css/pop-up.css";

.menu-desc {
    padding: $section_padding 0;
    @include article_heading();

    .menu-desc__buttonset {
        padding-top: 40px;
        a {
            @include nav_button();
            text-decoration: none;
        }

        hr {
            width: 65%;
            height: 1px;
            background: #dadada;
            border: none;
            margin-top: 100px;
        }
    }
}

.menu-preview {
    @include block_heading();
    padding-bottom: $section_padding;

    .menu-preview__carousel-wrap { padding-top: 50px; }

    @include full_slider();
}

@import "menu-media";
