@media screen and (max-width: 1200px) { .container { width: 90%; } }

@media screen and (max-width: 992px) {
	.details-desc {
		.details-desc__details {
			form {
				width: 100%;
				.details-desc__inputset-row { width: 100%; }
			}

			.details-desc__hint { display: block; }
		}
	}
}

@media screen and (max-width: 640px) { .details-desc { .details-desc__details { padding-top: 20px; } } }

@media screen and (max-width: 520px) {
	.details-pop-up {
		.details-pop-up__inner {
			padding: 20px 10px;
			width: 90%;

			.details-pop-up__close {
				right: 10px;
				top: 5px;
			}

			.details-pop-up__footer {
				a {
					padding: 5px 10px;
					font-size: 13px;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.details-desc { padding: $section_responsive_padding 0 100px 0; }

	.details-desc__inputset-row:nth-child(2), .details-desc__inputset-row:nth-child(3) {
		.details-desc-inputset-row-inner {
			display: block;

			input {
				display: block;
				margin-bottom: 20px;
				width: 100% !important;
			}
		}
	}

	.details-desc form hr { display: none; }

	.details-desc__footer {
		justify-content: center;
		flex-direction: column;

		select {
			margin-bottom: 40px;
		}

		button {
			width: 100%;
			text-align: center;
		}
	}
}